html, body {
    margin: 0;
    width:100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	padding-top:50px;
}

#critterlist {
	padding-top: 10px;
}	

#waitinglist img {
    height:50px;
}

#waitinglist {
    padding-top:10px;
}


#map {
    height: 320px;
}

.clear {
	clear:both;
}




#container{
    
    
}

span.glyphicon-lg {
		font-size:36px;
}

.item {
    padding-bottom:5px;
}


.bird .thumbnail{
    background-color: #F0AD4E;
}

.frog .thumbnail {
 background-color: #5CB85C;
}

.selected {

}

.playing  .thumbnail {
	border: 3px solid #444;
}


#cplayall, #cplaypause {
    width: 80px;
}

audio { width: 140px; display: block; margin-top:20px; }




