html, body {
    margin: 0;
    width:100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	padding-top:50px;
}

#info, #map, #sounds{
	border: 1px solid #eee;
}

#map {
	height: 240px;
}

.clear {
	clear:both;
}


#container{
    
    
}


